@page "/Takatsuki"

<PageTitle>Takatsuki Sen</PageTitle>
<div class="biography-page">
    <h1><b>Ditzy Author</b></h1>
    <div class="biography-layout-container">
        <div class="bio-box">
            <p>
                Takatsuki Sen is a best-selling horror novelist, finding success ever since submitting her
                500-page manuscript of <i>Dear Kafka</i> to Shoeisha in her teenage years. This was what
                launched her career with 500,000 copies sold and establising her reputation as a promising
                up-and-coming author in the scene.
            </p>
            <img class="box-image" src="https://static.wikia.nocookie.net/tokyoghoul/images/4/45/Younger_Eto.png/revision/latest?cb=20160522224457" 
                 alt="Teenage Takatsuki"/>
            <br/>
            <i>Takatsuki before her debut</i>
        </div>
    <div class="sidebar-container">
        <div class="image-container">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fvignette2.wikia.nocookie.net%2Ftokyoghoul%2Fimages%2F2%2F2e%2FEto_makes_her_debut_as_Sen_Takatsuki.png%2Frevision%2Flatest%3Fcb%3D20161203055451&f=1&nofb=1&ipt=319802a16e6be39c9ce0d52994e1e78553b231c90e3689f261bc224d0d360dd7"
                 alt="Takatsuki Sen"/>
        </div>
        <div class="profile-details-box">
            Full Name:  Takatsuki Sen <br/>
            Gender:     Female <br/>
            Species:    <i>Human</i> <br/>
            Age:        Mid-20s <br/>
            Profession: Author
        </div>
        <div class="link-buttons">
            <a href="https://www.aniroleplay.com/send_message.php?member_id=654736">
                <button>Message</button>
            </a>
            <a href="https://www.aniroleplay.com/add_comment.php?member_id=654736">
                <button>Comment</button>
            </a>
            <a href="https://www.aniroleplay.com/invite_friend.php?friend_id=654736">
                <button>Add friend</button>
            </a>
        </div>
    </div>
        <div class="info-box">
            <p>
                A decade later, she has written several finished works and gathered a following, one of her
                most famous pieces being the <i>Black Goat's Egg</i>, the story of a son and his mother, the
                cold-hearted serial killer called "The Black Goat". The story includes a strong depiction
                of the main character's mental state.
            </p>
            <img class="box-image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.explicit.bing.net%2Fth%2Fid%2FOIP.t44YCDl0pmiajDfSYVY4TgHaHZ%3Fpid%3DApi&f=1&ipt=acf1cf98d9ea9aa360f46d4e4097e0a414d0efe37ccbc55af1e7930cba707d8f" 
                 alt="Grown-up Takatsuki"/>
            <br/>
            <i>Takatsuki in her mid-20s</i>
        </div>
        <div class="other-side">
            <NavLink class="nav-link" href="/Eto" Match="NavLinkMatch.All">
                <button><i>Will you peer into my darkness?</i></button>
            </NavLink>
        </div>
    </div>
</div>
