@page "/Eto"

@* TODO: go font hunting for a fitting style for our queen *@
@* TODO: get to writing what ya need to *@
@* TODO: try and refactor so Eto has her own nav bar or something  *@
@* TODO: add the pixiv links to the alt tags for imgs *@
<div class="eto-layout">
<h1><b>The One-Eyed Owl</b></h1>
    <div class="biography-layout-container">
        <div class="bio-box">
            <p>
                Eto is the founder of the extremist Ghoul organization Aogiri Tree, as well as the SSS-Rate Ghoul, the
                One-Eyed Owl. 
                While working under the persona of the esteemed author Takatsuki Sen, she would act behind the scenes
                in order to upset the balance of the CCG and <i>destroy the world</i>, or rather the status quo, one
                step at a time and set the stage for the One-Eyed King to stage a revolution.
            </p>
            <div>
                <img class="box-image" src="https://iili.io/qFTia6u.md.png" 
                     alt="put pixiv link here"/>
            </div>
            <p>
                
            </p>
            
        </div>
    <div class="sidebar-container">
        <div class="image-container">
            <img src="https://iili.io/qFTs80u.png"
                 alt="put pixiv link here"/>
        </div>
        <div class="profile-details-box">
            Full Name: Yoshimura Eto <br/>
            Gender:     Female <br/>
            Species:    One-Eyed Ghoul <br/>
            Age:        Mid-20s <br/>
            Affiliation: Aogiri Tree
        </div>
        <div class="link-buttons">
            <a href="https://www.aniroleplay.com/send_message.php?member_id=654736">
                <button>Message</button>
            </a>
            <a href="https://www.aniroleplay.com/add_comment.php?member_id=654736">
                <button>Comment</button>
            </a>
            <a href="https://www.aniroleplay.com/invite_friend.php?friend_id=654736">
                <button>Add friend</button>
            </a>
        </div>
    </div>
        <div class="info-box">
            <p>
                
            </p>
            <img class="box-image" src="https://iili.io/qFT4l3v.png" 
                 alt="put pixiv link here"/>
            <br/>
            <i>Takatsuki in her mid-20s</i>
        </div>
        <div class="further-depths">
            <NavLink class="nav-link" href="/Eto/personality" Match="NavLinkMatch.All">
                <button><i>Take another plunge</i></button>
            </NavLink>
        </div>
    </div>
</div>
