@page "/personality"
<PageTitle>Personality</PageTitle>
<div class="personality-page">
    <h1>Personality</h1>
    <div class="personality-layout-container">
        <div class="personality-box">
            <p>
                In spite of the dark topics of her literary works, Takatsuki is quite a personable individual, the one thing of note
                would likely be her eccentric nature, though among authors that's hardly uniquely her trait. <br/>
                She has a bit of a "ditzy" personality and cares little for creating an air of mystique or professionalism
                around her, making fans of her work find her surprisingly approachable more often than not.
            </p>
            <p>
                Much to her editor's chagrin, she's messy and unpredictable, often making impulsive decisions that clash with
                their prior arranements, for example during book signings or other times she interacts with the public. Being her editor,
                he's often subject to her whims and rarely manages to dissuade her once she puts her mind to something, but the two seem
                to have a close relationship.
            </p>
        </div>
        <div>
            
        </div>
        <div class="other-side">
            <NavLink class="nav-link" href="/Eto" Match="NavLinkMatch.All">
                <button><i>Will you peer into my darkness?</i></button>
            </NavLink>
        </div>
    </div>
</div>